USE [master]
GO
/****** Object:  Database [2022_0215_zaposleni]    Script Date: 9/7/2026 8:08:08 AM ******/
CREATE DATABASE [2022_0215_zaposleni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'2022_0215_zaposleni', FILENAME = N'C:\Users\Dusan\2022_0215_zaposleni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'2022_0215_zaposleni_log', FILENAME = N'C:\Users\Dusan\2022_0215_zaposleni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [2022_0215_zaposleni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [2022_0215_zaposleni]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_vratiNajveciRacunZaKasira]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_vratiNajveciRacunZaKasira] 
(
	@KasirId INT
)
RETURNS INT
AS
BEGIN

	DECLARE @RacunId INT;

	SELECT TOP 1 @RacunId=R.Id
	FROM Racun R 
	JOIN StavkaRacuna SR ON R.Id = SR.RacunId
	JOIN Proizvod P ON SR.ProizvodId = P.Id
	WHERE R.KasirId = @KasirId
	GROUP BY R.Id
	ORDER BY SUM(SR.Kolicina * P.Cena) DESC;

	RETURN @RacunId;

END;
GO
/****** Object:  Table [dbo].[Kasir]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kasir](
	[Id] [int] NOT NULL,
	[ImePrezime] [nvarchar](50) NOT NULL,
	[ProdavnicaId] [int] NOT NULL,
 CONSTRAINT [PK_Kasir] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodavnica]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodavnica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](20) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Mesto] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Prodavnica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[Id] [int] NOT NULL,
	[Naziv] [nvarchar](20) NOT NULL,
	[Cena] [decimal](10, 2) NOT NULL,
	[JedinicaMere] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racun]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racun](
	[Id] [int] NOT NULL,
	[Broj] [nvarchar](15) NOT NULL,
	[Datum] [date] NOT NULL,
	[Iznos] [decimal](10, 2) NOT NULL,
	[KasirId] [int] NOT NULL,
 CONSTRAINT [PK_Racun] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaRacuna]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaRacuna](
	[RacunId] [int] NOT NULL,
	[RedniBroj] [int] NOT NULL,
	[Kolicina] [float] NOT NULL,
	[Iznos] [decimal](10, 2) NOT NULL,
	[ProizvodId] [int] NOT NULL,
 CONSTRAINT [PK_StavkaRacuna] PRIMARY KEY CLUSTERED 
(
	[RacunId] ASC,
	[RedniBroj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Kasir_Id]    Script Date: 9/7/2026 8:08:08 AM ******/
ALTER TABLE [dbo].[Kasir] ADD  CONSTRAINT [UQ_Kasir_Id] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Prodavnica_Id]    Script Date: 9/7/2026 8:08:08 AM ******/
ALTER TABLE [dbo].[Prodavnica] ADD  CONSTRAINT [UQ_Prodavnica_Id] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Proizvod_Id]    Script Date: 9/7/2026 8:08:08 AM ******/
ALTER TABLE [dbo].[Proizvod] ADD  CONSTRAINT [UQ_Proizvod_Id] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Racun]    Script Date: 9/7/2026 8:08:08 AM ******/
ALTER TABLE [dbo].[Racun] ADD  CONSTRAINT [UQ_Racun] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Racun] ADD  DEFAULT ((0)) FOR [Iznos]
GO
ALTER TABLE [dbo].[StavkaRacuna] ADD  DEFAULT ((0)) FOR [Iznos]
GO
ALTER TABLE [dbo].[Kasir]  WITH CHECK ADD  CONSTRAINT [FK_Kasir_Prodavnica] FOREIGN KEY([ProdavnicaId])
REFERENCES [dbo].[Prodavnica] ([Id])
GO
ALTER TABLE [dbo].[Kasir] CHECK CONSTRAINT [FK_Kasir_Prodavnica]
GO
ALTER TABLE [dbo].[Racun]  WITH CHECK ADD  CONSTRAINT [FK_Racun_Kasir] FOREIGN KEY([KasirId])
REFERENCES [dbo].[Kasir] ([Id])
GO
ALTER TABLE [dbo].[Racun] CHECK CONSTRAINT [FK_Racun_Kasir]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [FK_Stavka_Proizvod] FOREIGN KEY([ProizvodId])
REFERENCES [dbo].[Proizvod] ([Id])
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [FK_Stavka_Proizvod]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [FK_Stavka_Racun] FOREIGN KEY([RacunId])
REFERENCES [dbo].[Racun] ([Id])
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [FK_Stavka_Racun]
GO
ALTER TABLE [dbo].[Prodavnica]  WITH CHECK ADD  CONSTRAINT [CK_Prodavnica_Mesto] CHECK  (([MESTO]='Smederevo' OR [MESTO]='Novi Sad' OR [MESTO]='Beograd'))
GO
ALTER TABLE [dbo].[Prodavnica] CHECK CONSTRAINT [CK_Prodavnica_Mesto]
GO
ALTER TABLE [dbo].[Proizvod]  WITH CHECK ADD  CONSTRAINT [CK_Proizvod_Cena] CHECK  (([Cena]>(0)))
GO
ALTER TABLE [dbo].[Proizvod] CHECK CONSTRAINT [CK_Proizvod_Cena]
GO
ALTER TABLE [dbo].[Proizvod]  WITH CHECK ADD  CONSTRAINT [CK_Proizvod_JedinicaMere] CHECK  (([JedinicaMere]='litar' OR [JedinicaMere]='kg' OR [JedinicaMere]='kom'))
GO
ALTER TABLE [dbo].[Proizvod] CHECK CONSTRAINT [CK_Proizvod_JedinicaMere]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [CK_StavkaRacuna_Kolicina] CHECK  (([Kolicina]>(0)))
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [CK_StavkaRacuna_Kolicina]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [CK_StavkaRacuna_RedniBroj] CHECK  (([RedniBroj]>(0)))
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [CK_StavkaRacuna_RedniBroj]
GO
/****** Object:  StoredProcedure [dbo].[sp_azuriraj_racun]    Script Date: 9/7/2026 8:08:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_azuriraj_racun]
	@RacunId INT,
	@RedniBroj INT
AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS (SELECT 1 FROM Racun WHERE Id = @RacunId)
		THROW 50001, 'Racun ne postoji', 1;

	IF NOT EXISTS (SELECT 1 FROM StavkaRacuna WHERE RacunId = @RacunId AND RedniBroj = @RedniBroj)
		THROW 50002, 'Stavka ne postoji', 1;

	DELETE FROM StavkaRacuna 
	WHERE RacunId = @RacunId AND RedniBroj = @RedniBroj;

	UPDATE Racun
	SET Iznos = (
		SELECT COALESCE(SUM(Iznos),0)
		FROM StavkaRacuna
		WHERE RacunId = @RacunId
		)
	WHERE Id = @RacunId;
	END;
GO
USE [master]
GO
